# Ignore node_modules em qualquer nível do diretório
node_modules/
dist

# Ignore node_modules dentro da pasta 'front'
front/node_modules/
front/dist

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
